# ==============================================================================
# Files and folder of Superproject
# ==============================================================================
.vs/
out/
build/
build-windows/
build-linux/
.cache/
build*/
data*/
.vscode/
.DS_Store

# ==============================================================================
# Analysis and build tool
# ==============================================================================
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps/
**/CMakeUserPresets.json
**/CMakePresets.json


**/CMakeSettings.json
**/sonar-project.properties
**/.scannerwork/
**/sonar-output/
**/cppcheck-report.xml

# test data
**/test/test_data

# ==============================================================================
# VISUAL STUDIO GLOBAL
# ==============================================================================
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
*.ilk
*.meta
*.obj
*.idb
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.VC.db
*.opensdf
*.sdf

# ==============================================================================
# Developer tools
# ==============================================================================
GORILLA.BAS
