QWidget#titleBar {
    height:25px;
    background-color:#FFFFFF;
}

QWidget#titleBar QLabel {
    color : #0a0c0f;
    font-size:14px;
}

QWidget#colonneGauche,
QWidget#leftContainer {
    background-color: #FFFFFF;
}

QWidget#colonneGauche QLineEdit,
QWidget#colonneGauche QComboBox {
    margin:5px 10px 5px 0;
    background-color:#f5f7fa;
    color:#0a0c0f;
    padding:5px 10px;
    border-radius:5px;
    border: none;
    font-size:14px;
}

QWidget#colonneGauche QComboBox::down-arrow {
    image: url("../../../gui/ressources/arrow_down.png");
    width:6px;
    height:6px;
}

QWidget#colonneGauche QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    margin-right:15px;
    border: none;
}

QComboBox QAbstractItemView {
    background: #f5f7fa;
    color:#0a0c0f;
    border: none;
    selection-background-color: #deebf9;
}

QComboBox QAbstractItemView::item {
    padding:2px;
    border:none;
    background: #f5f7fa;
    outline:1px solid red;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #deebf9;
    border:none;
    outline:1px solid red;
}



QWidget#colonneGauche QComboBox::down-arrow:on {
    image: url("../../../gui/ressources/arrow_up.png");
}

QWidget#colonneGauche QCheckBox {
    margin:5px 0 5px 30px;
    right:0;
}

QWidget#colonneGauche QCheckBox::indicator {
    width:90px;
    height:30px;
}

QWidget#colonneGauche QCheckBox::indicator:unchecked {
    image: url("../../../gui/ressources/checkbox_off.png");
}

QWidget#colonneGauche QCheckBox::indicator:checked {
    /* background-color:#5ea6f2; */
    image: url("../../../gui/ressources/checkbox_on.png");
}

QWidget#colonneGauche QLabel {
    margin:5px 0px 5px 10px;
    color:#0a0c0f;
    font-size:14px;
}

QWidget#mainArea {
    background-color: #f5f7fa;
}

QPushButton#runBtn {
    background-color: #5ea6f2;
    padding:15px 30px;
    color:#ffffff;
    font-size:20px;
    border-radius:10px;
}

QPushButton:hover {
    background-color:#94dcff;
}

QToolButton#chooseFileButton {
    background-color: #deebf9;
    padding:100px 220px;
    color:#5ea6f2;
    font-size:22px;
    font-weight:800;
    border-radius:40px;
    border: 4px dashed #5ea6f2;
    text-align:center;
    qproperty-iconSize : 80px 80px;
    max-width:200px;
}

QToolButton#chooseFileButton:hover {
    background-color: #c7dff8;
}